In [424]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [425]:
train_data = pd.read_csv('train.csv')  #Vou usar esses dados para treinar um modelo

In [426]:
test_data = pd.read_csv('test.csv')  #Usar o modelo treinado para prever os 'Transported deste DataFrame'

In [427]:
test_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [428]:
train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [429]:
# Substituir True por 1 e False por 0 na coluna 'Transported'
train_data['Transported'] = train_data['Transported'].astype(int)

In [430]:
data = pd.concat([train_data, test_data], sort=True)

In [431]:
data.set_index('PassengerId', inplace=True)
train_data.set_index('PassengerId', inplace=True)
test_data.set_index('PassengerId', inplace=True)

In [432]:
data

,Age,Cabin,CryoSleep,Destination,FoodCourt,HomePlanet,Name,RoomService,ShoppingMall,Spa,Transported,VIP,VRDeck
PassengerId,,,,,,,,,,,,,
0001_01,39.0,B/0/P,False,TRAPPIST-1e,0.0,Europa,Maham Ofracculy,0.0,0.0,0.0,0.0,False,0.0
0002_01,24.0,F/0/S,False,TRAPPIST-1e,9.0,Earth,Juanna Vines,109.0,25.0,549.0,1.0,False,44.0
0003_01,58.0,A/0/S,False,TRAPPIST-1e,3576.0,Europa,Altark Susent,43.0,0.0,6715.0,0.0,True,49.0
0003_02,33.0,A/0/S,False,TRAPPIST-1e,1283.0,Europa,Solam Susent,0.0,371.0,3329.0,0.0,False,193.0
0004_01,16.0,F/1/S,False,TRAPPIST-1e,70.0,Earth,Willy Santantines,303.0,151.0,565.0,1.0,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9266_02,34.0,G/1496/S,True,TRAPPIST-1e,0.0,Earth,Jeron Peter,0.0,0.0,0.0,NaN,False,0.0
9269_01,42.0,NaN,False,TRAPPIST-1e,847.0,Earth,Matty Scheron,0.0,17.0,10.0,NaN,False,144.0
9271_01,NaN,D/296/P,True,55 Cancri e,0.0,Mars,Jayrin Pore,0.0,0.0,0.0,NaN,False,0.0
9273_01,NaN,D/297/P,False,NaN,2680.0,Europa,Kitakan Conale,0.0,0.0,0.0,NaN,False,523.0
9277_01,43.0,G/1498/S,True,PSO J318.5-22,0.0,Earth,Lilace Leonzaley,0.0,0.0,0.0,NaN,False,0.0

In [433]:
data['Destination'].unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [434]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12970 entries, 0001_01 to 9277_01
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           12700 non-null  float64
 1   Cabin         12671 non-null  object
 2   CryoSleep     12660 non-null  object
 3   Destination   12696 non-null  object
 4   FoodCourt     12681 non-null  float64
 5   HomePlanet    12682 non-null  object
 6   Name          12676 non-null  object
 7   RoomService   12707 non-null  float64
 8   ShoppingMall  12664 non-null  float64
 9   Spa           12686 non-null  float64
 10  Transported   8693 non-null   float64
 11  VIP           12674 non-null  object
 12  VRDeck        12702 non-null  float64
dtypes: float64(7), object(6)
memory usage: 1.4+ MB

In [435]:
data.isnull().sum()

Age              270
Cabin            299
CryoSleep        310
Destination      274
FoodCourt        289
HomePlanet       288
Name             294
RoomService      263
ShoppingMall     306
Spa              284
Transported     4277
VIP              296
VRDeck           268
dtype: int64

In [436]:
train_data.isnull().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [437]:
test_data.isnull().sum()

HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

## Primeiro vou preencher os dados nulos

In [438]:
Age_Mean = data['Age'].mean().round(0)

In [439]:
data['Age'].fillna(Age_Mean, inplace=True)

In [445]:
data.isnull().sum()

Age                0
CryoSleep          0
Destination        0
FoodCourt          0
HomePlanet         0
RoomService        0
ShoppingMall       0
Spa                0
Transported     4277
VIP                0
VRDeck             0
dtype: int64

In [441]:
Mode_Cabin = data['Cabin'].mode()[0]
data['Cabin'].fillna(Mode_Cabin, inplace=True)

Mode_CryoSleep = data['CryoSleep'].mode()[0]
data['CryoSleep'].fillna(Mode_CryoSleep, inplace=True)

Mode_Destination = data['Destination'].mode()[0]
data['Destination'].fillna(Mode_Destination, inplace=True)

Mode_FoodCourt = data['FoodCourt'].mode()[0]
data['FoodCourt'].fillna(Mode_FoodCourt, inplace=True)

Mode_HomePlanet = data['HomePlanet'].mode()[0]
data['HomePlanet'].fillna(Mode_HomePlanet, inplace=True)

Mode_RoomService = data['RoomService'].mode()[0]
data['RoomService'].fillna(Mode_RoomService, inplace=True)

Mode_ShoppingMall = data['ShoppingMall'].mode()[0]
data['ShoppingMall'].fillna(Mode_ShoppingMall, inplace=True)

Mode_Spa = data['Spa'].mode()[0]
data['Spa'].fillna(Mode_Spa, inplace=True)

Mode_VIP = data['VIP'].mode()[0]
data['VIP'].fillna(Mode_VIP, inplace=True)

Mode_VRDeck = data['VRDeck'].mode()[0]
data['VRDeck'].fillna(Mode_VRDeck, inplace=True)

In [442]:
data.describe(include=['O'])

          Cabin  Destination HomePlanet              Name
count     12970        12970      12970             12676
unique     9825            3          3             12629
top     G/160/P  TRAPPIST-1e      Earth  Carry Contrevins
freq        307         9145       7153                 2

In [443]:
data.drop(['Cabin'], axis=1, inplace=True)

In [446]:
data = pd.get_dummies(data, columns=['Destination', 
                                     'CryoSleep', 
                                     'HomePlanet',  
                                     'VIP'], dtype=int) #drop_first=True

In [447]:
data

,Age,FoodCourt,RoomService,ShoppingMall,Spa,Transported,VRDeck,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_False,CryoSleep_True,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,VIP_False,VIP_True
PassengerId,,,,,,,,,,,,,,,,,
0001_01,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,1,0,1,0
0002_01,24.0,9.0,109.0,25.0,549.0,1.0,44.0,0,0,1,1,0,1,0,0,1,0
0003_01,58.0,3576.0,43.0,0.0,6715.0,0.0,49.0,0,0,1,1,0,0,1,0,0,1
0003_02,33.0,1283.0,0.0,371.0,3329.0,0.0,193.0,0,0,1,1,0,0,1,0,1,0
0004_01,16.0,70.0,303.0,151.0,565.0,1.0,2.0,0,0,1,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9266_02,34.0,0.0,0.0,0.0,0.0,NaN,0.0,0,0,1,0,1,1,0,0,1,0
9269_01,42.0,847.0,0.0,17.0,10.0,NaN,144.0,0,0,1,1,0,1,0,0,1,0
9271_01,29.0,0.0,0.0,0.0,0.0,NaN,0.0,1,0,0,0,1,0,0,1,1,0
9273_01,29.0,2680.0,0.0,0.0,0.0,NaN,523.0,0,0,1,1,0,0,1,0,1,0
9277_01,43.0,0.0,0.0,0.0,0.0,NaN,0.0,0,1,0,0,1,1,0,0,1,0

## Apagar a coluna 'Name'

In [444]:
data.drop(['Name'], axis=1, inplace=True)

## Atualizar train_data e test_data

### Primeiro com train

In [448]:
train_data.shape

(8693, 13)

In [449]:
print(train_data.index)

Index(['0001_01', '0002_01', '0003_01', '0003_02', '0004_01', '0005_01',
       '0006_01', '0006_02', '0007_01', '0008_01',
       ...
       '9272_02', '9274_01', '9275_01', '9275_02', '9275_03', '9276_01',
       '9278_01', '9279_01', '9280_01', '9280_02'],
      dtype='object', name='PassengerId', length=8693)

In [450]:
print(data.index)

Index(['0001_01', '0002_01', '0003_01', '0003_02', '0004_01', '0005_01',
       '0006_01', '0006_02', '0007_01', '0008_01',
       ...
       '9260_01', '9262_01', '9263_01', '9265_01', '9266_01', '9266_02',
       '9269_01', '9271_01', '9273_01', '9277_01'],
      dtype='object', name='PassengerId', length=12970)

In [451]:
print(train_data.index.isin(data.index).all())

True

In [452]:
train = data.loc[train_data.index]

In [453]:
train_data.shape

(8693, 13)

In [454]:
train.isnull().sum()

Age                          0
FoodCourt                    0
RoomService                  0
ShoppingMall                 0
Spa                          0
Transported                  0
VRDeck                       0
Destination_55 Cancri e      0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
CryoSleep_False              0
CryoSleep_True               0
HomePlanet_Earth             0
HomePlanet_Europa            0
HomePlanet_Mars              0
VIP_False                    0
VIP_True                     0
dtype: int64

In [455]:
trainMode_Cabin = train_data['Cabin'].mode()[0]
train_data['Cabin'].fillna(trainMode_Cabin, inplace=True)

trainMode_CryoSleep = train_data['CryoSleep'].mode()[0]
train_data['CryoSleep'].fillna(trainMode_CryoSleep, inplace=True)

trainMode_Destination = train_data['Destination'].mode()[0]
train_data['Destination'].fillna(trainMode_Destination, inplace=True)

trainMode_FoodCourt = train_data['FoodCourt'].mode()[0]
train_data['FoodCourt'].fillna(trainMode_FoodCourt, inplace=True)

trainMode_HomePlanet = train_data['HomePlanet'].mode()[0]
train_data['HomePlanet'].fillna(trainMode_HomePlanet, inplace=True)

trainMode_RoomService = train_data['RoomService'].mode()[0]
train_data['RoomService'].fillna(trainMode_RoomService, inplace=True)

trainMode_ShoppingMall = train_data['ShoppingMall'].mode()[0]
train_data['ShoppingMall'].fillna(trainMode_ShoppingMall, inplace=True)

trainMode_Spa = train_data['Spa'].mode()[0]
train_data['Spa'].fillna(trainMode_Spa, inplace=True)

trainMode_VIP = train_data['VIP'].mode()[0]
train_data['VIP'].fillna(trainMode_VIP, inplace=True)

trainMode_VRDeck = train_data['VRDeck'].mode()[0]
train_data['VRDeck'].fillna(trainMode_VRDeck, inplace=True)

In [456]:
trainAge_Mean = train_data['Age'].mean().round(0)
train_data['Age'].fillna(trainAge_Mean, inplace=True)

In [459]:
train_data.drop(['Name'], axis=1, inplace=True)

### Agora com test

In [461]:
test_data.shape

(4277, 12)

In [462]:
print(test_data.index)

Index(['0013_01', '0018_01', '0019_01', '0021_01', '0023_01', '0027_01',
       '0029_01', '0032_01', '0032_02', '0033_01',
       ...
       '9260_01', '9262_01', '9263_01', '9265_01', '9266_01', '9266_02',
       '9269_01', '9271_01', '9273_01', '9277_01'],
      dtype='object', name='PassengerId', length=4277)

In [463]:
print(data.index)

Index(['0001_01', '0002_01', '0003_01', '0003_02', '0004_01', '0005_01',
       '0006_01', '0006_02', '0007_01', '0008_01',
       ...
       '9260_01', '9262_01', '9263_01', '9265_01', '9266_01', '9266_02',
       '9269_01', '9271_01', '9273_01', '9277_01'],
      dtype='object', name='PassengerId', length=12970)

In [464]:
print(test_data.index.isin(data.index).all())

True

In [465]:
test = data.loc[test_data.index]

In [466]:
test.isnull().sum()

Age                             0
FoodCourt                       0
RoomService                     0
ShoppingMall                    0
Spa                             0
Transported                  4277
VRDeck                          0
Destination_55 Cancri e         0
Destination_PSO J318.5-22       0
Destination_TRAPPIST-1e         0
CryoSleep_False                 0
CryoSleep_True                  0
HomePlanet_Earth                0
HomePlanet_Europa               0
HomePlanet_Mars                 0
VIP_False                       0
VIP_True                        0
dtype: int64

In [467]:
test.drop('Transported', axis=1, inplace=True)

## Selecionar o X e o Y

In [468]:
train

,Age,FoodCourt,RoomService,ShoppingMall,Spa,Transported,VRDeck,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_False,CryoSleep_True,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,VIP_False,VIP_True
PassengerId,,,,,,,,,,,,,,,,,
0001_01,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,1,0,1,0
0002_01,24.0,9.0,109.0,25.0,549.0,1.0,44.0,0,0,1,1,0,1,0,0,1,0
0003_01,58.0,3576.0,43.0,0.0,6715.0,0.0,49.0,0,0,1,1,0,0,1,0,0,1
0003_02,33.0,1283.0,0.0,371.0,3329.0,0.0,193.0,0,0,1,1,0,0,1,0,1,0
0004_01,16.0,70.0,303.0,151.0,565.0,1.0,2.0,0,0,1,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276_01,41.0,6819.0,0.0,0.0,1643.0,0.0,74.0,1,0,0,1,0,0,1,0,0,1
9278_01,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,1,1,0,0,1,0
9279_01,26.0,0.0,0.0,1872.0,1.0,1.0,0.0,0,0,1,1,0,1,0,0,1,0
9280_01,32.0,1049.0,0.0,0.0,353.0,0.0,3235.0,1,0,0,1,0,0,1,0,1,0
9280_02,44.0,4688.0,126.0,0.0,0.0,1.0,12.0,0,0,1,1,0,0,1,0,1,0

In [469]:
X = train.drop('Transported', axis=1)

In [470]:
y = train['Transported']

In [471]:
X.shape, y.shape

((8693, 16), (8693,))

## //////////////////////////////////////////////////////

In [12]:
# Selecionar apenas as colunas numÃ©ricas do DataFrame
data_numeric = data.select_dtypes(include=['number'])

# Calcular a correlaÃ§Ã£o entre as colunas numÃ©ricas e a coluna 'Transported'
correlacoes_transported = data_numeric.corr()

# Exibir as correlaÃ§Ãµes
print(correlacoes_transported)

                   Age  FoodCourt  RoomService  ShoppingMall       Spa  \
Age           1.000000   0.124447     0.067300      0.034959  0.118992
FoodCourt     0.124447   1.000000    -0.020146     -0.001589  0.228990
RoomService   0.067300  -0.020146     1.000000      0.057402  0.008936
ShoppingMall  0.034959  -0.001589     0.057402      1.000000  0.010504
Spa           0.118992   0.228990     0.008936      0.010504  1.000000
VRDeck        0.101441   0.244279    -0.023847      0.004485  0.149874

                VRDeck
Age           0.101441
FoodCourt     0.244279
RoomService  -0.023847
ShoppingMall  0.004485
Spa           0.149874
VRDeck        1.000000

In [13]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

# Definir uma funÃ§Ã£o para calcular a correlaÃ§Ã£o de Cramer's V
def cramers_v(x, y):
    confusion_matrix = pd.crosstab(x, y)
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2 / n
    r, k = confusion_matrix.shape
    phi2corr = max(0, phi2 - ((k - 1) * (r - 1)) / (n - 1))
    rcorr = r - ((r - 1) ** 2) / (n - 1)
    kcorr = k - ((k - 1) ** 2) / (n - 1)
    return np.sqrt(phi2corr / min((kcorr - 1), (rcorr - 1)))

# Calcular as correlaÃ§Ãµes entre todas as colunas e 'Transported'
correlacoes_transported = {}
for column in data.columns:
    correlation = cramers_v(data[column], data['Transported'])
    correlacoes_transported[column] = correlation

# Exibir as correlaÃ§Ãµes
print(correlacoes_transported)

{'Age': 0.14542623904932053, 'Cabin': 0.1848379548932737, 'CryoSleep': 0.46830046337435893, 'Destination': 0.1107563587677121, 'FoodCourt': 0.2624361102150759, 'HomePlanet': 0.19500932407980287, 'Name': 0.015351995646862097, 'RoomService': 0.2836544595683703, 'ShoppingMall': 0.2779372772874321, 'Spa': 0.2772279942492357, 'Transported': 0.9997698912675346, 'VIP': 0.03523962212788913, 'VRDeck': 0.25019359358350335}

## ///////////////////////////////////////////////////////////

## Escolhendo colunas

In [472]:
X.columns

Index(['Age', 'FoodCourt', 'RoomService', 'ShoppingMall', 'Spa', 'VRDeck',
       'Destination_55 Cancri e', 'Destination_PSO J318.5-22',
       'Destination_TRAPPIST-1e', 'CryoSleep_False', 'CryoSleep_True',
       'HomePlanet_Earth', 'HomePlanet_Europa', 'HomePlanet_Mars', 'VIP_False',
       'VIP_True'],
      dtype='object')

In [473]:
columns = ['Age', 'FoodCourt', 'RoomService', 'ShoppingMall', 'Spa', 'VRDeck',
       'Destination_55 Cancri e', 'Destination_PSO J318.5-22',
       'Destination_TRAPPIST-1e', 'CryoSleep_False', 'CryoSleep_True',
       'HomePlanet_Earth', 'HomePlanet_Europa', 'HomePlanet_Mars', 'VIP_False',
       'VIP_True']

In [474]:
X = X[columns]

## Aplicando Machine Learning

In [475]:
from sklearn.model_selection import train_test_split

In [476]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=123)

In [477]:
X_train.shape, y_train.shape

((6085, 16), (6085,))

In [478]:
X_test.shape, y_test.shape

((2608, 16), (2608,))

In [479]:
from sklearn.ensemble import (AdaBoostClassifier, 
                              GradientBoostingClassifier, 
                              ExtraTreesClassifier,
                              RandomForestClassifier)

In [480]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [481]:
class ModeloAuxiliar(object):
    def __init__(self, clf, seed=123, params=None):
        if params:
            params['random_state'] = seed
            self.clf = clf(**params)
        else:
            self.clf = clf()
    def predict(self, x):
        return self.clf.predict(x)
    
    def fit(self,x,y):
        return self.clf.fit(x,y)
    
    def feature_importances(self,x,y):
        return self.clf.fit(x,y).feature_importances_
    
    def score(self,x,y):
        return self.clf.score(x,y)

In [482]:
modelos = [{'nome': 'logreg',
            'modelo': LogisticRegression},
           {'nome': 'etree',
            'modelo': ExtraTreesClassifier},
           {'nome': 'gradboost',
             'modelo': GradientBoostingClassifier}, 
           {'nome': 'adaboost',
             'modelo': AdaBoostClassifier},
           {'nome': 'SVC',
            'modelo': SVC},
           {'nome': 'KNN',
            'modelo': KNeighborsClassifier},
           {'nome': 'GaussianNB',
            'modelo': GaussianNB},
           {'nome': 'Perceptron',
            'modelo': Perceptron},
           {'nome': 'LinearSVC',
            'modelo': LinearSVC},
           {'nome': 'SGD',
            'modelo': SGDClassifier},
           {'nome': 'Dtree',
            'modelo': DecisionTreeClassifier},
           {'nome': 'RForest',
            'modelo': RandomForestClassifier}
          ]

In [483]:
modelos

[{'nome': 'logreg',
  'modelo': sklearn.linear_model._logistic.LogisticRegression},
 {'nome': 'etree', 'modelo': sklearn.ensemble._forest.ExtraTreesClassifier},
 {'nome': 'gradboost',
  'modelo': sklearn.ensemble._gb.GradientBoostingClassifier},
 {'nome': 'adaboost',
  'modelo': sklearn.ensemble._weight_boosting.AdaBoostClassifier},
 {'nome': 'SVC', 'modelo': sklearn.svm._classes.SVC},
 {'nome': 'KNN',
  'modelo': sklearn.neighbors._classification.KNeighborsClassifier},
 {'nome': 'GaussianNB', 'modelo': sklearn.naive_bayes.GaussianNB},
 {'nome': 'Perceptron', 'modelo': sklearn.linear_model._perceptron.Perceptron},
 {'nome': 'LinearSVC', 'modelo': sklearn.svm._classes.LinearSVC},
 {'nome': 'SGD',
  'modelo': sklearn.linear_model._stochastic_gradient.SGDClassifier},
 {'nome': 'Dtree', 'modelo': sklearn.tree._classes.DecisionTreeClassifier},
 {'nome': 'RForest',
  'modelo': sklearn.ensemble._forest.RandomForestClassifier}]

In [484]:
resultados = []

for model_info in modelos:
    x = ModeloAuxiliar(clf=model_info['modelo'])
    
    # Treinar o modelo
    x.fit(X_train, y_train)
    
    # Verificar os dados de teste e convertÃª-los se necessÃ¡rio
    if not isinstance(X_test, np.ndarray):
        X_test = np.array(X_test)
    
    # Verificar a consistÃªncia dos dados
    if X_test.shape[1] != X_train.shape[1]:
        print("Erro: O nÃºmero de features nos dados de teste nÃ£o Ã© o mesmo que nos dados de treinamento.")
        continue
    
    # Fazer previsÃµes
    x_pred = x.predict(X_test)
    
    # Calcular a acurÃ¡cia
    acuracidade = x.score(X_test, y_test)
    
    resultados.append({
        'nome': model_info.get('nome', str(model_info['modelo'])),
        'score': acuracidade,
        'pred': x_pred
    })

In [485]:
resultados

[{'nome': 'logreg',
  'score': 0.8040644171779141,
  'pred': array([0., 0., 0., ..., 1., 1., 1.])},
 {'nome': 'etree',
  'score': 0.7822085889570553,
  'pred': array([0., 0., 0., ..., 1., 1., 0.])},
 {'nome': 'gradboost',
  'score': 0.808282208588957,
  'pred': array([0., 0., 0., ..., 1., 1., 1.])},
 {'nome': 'adaboost',
  'score': 0.8094325153374233,
  'pred': array([0., 0., 0., ..., 1., 1., 1.])},
 {'nome': 'SVC',
  'score': 0.7944785276073619,
  'pred': array([0., 0., 0., ..., 1., 1., 1.])},
 {'nome': 'KNN',
  'score': 0.7776073619631901,
  'pred': array([0., 0., 0., ..., 1., 1., 1.])},
 {'nome': 'GaussianNB',
  'score': 0.7427147239263804,
  'pred': array([0., 0., 0., ..., 1., 1., 1.])},
 {'nome': 'Perceptron',
  'score': 0.7684049079754601,
  'pred': array([0., 0., 0., ..., 1., 1., 1.])},
 {'nome': 'LinearSVC',
  'score': 0.6629601226993865,
  'pred': array([0., 1., 1., ..., 1., 1., 1.])},
 {'nome': 'SGD',
  'score': 0.7730061349693251,
  'pred': array([0., 0., 0., ..., 1., 1., 1.])},
 {'nome': 'Dtree',
  'score': 0.74079754601227,
  'pred': array([0., 0., 1., ..., 1., 1., 0.])},
 {'nome': 'RForest',
  'score': 0.7891104294478528,
  'pred': array([0., 0., 0., ..., 1., 1., 0.])}]

In [486]:
models = pd.DataFrame(resultados)

In [487]:
models[['nome', 'score']].sort_values(by='score', ascending=False)

          nome     score
3     adaboost  0.809433
2    gradboost  0.808282
0       logreg  0.804064
4          SVC  0.794479
11     RForest  0.789110
1        etree  0.782209
5          KNN  0.777607
9          SGD  0.773006
7   Perceptron  0.768405
6   GaussianNB  0.742715
10       Dtree  0.740798
8    LinearSVC  0.662960